<div class="kk">
    
    <div class="container-fluid pt-5 pb-2" style="background: rgb(110, 155, 104);
    background: linear-gradient(90deg, rgb(90, 153, 84) 0%, rgba(84,166,83,1) 0%, rgb(92, 153, 112) 100%);">
    <h5 class="text-center mt-5 text-white">Activities</h5>
    <p class="text-center text-white"> home / Activities </p>
        </div>

    <div class="container mt-3 pt-3"> 
    <h2 class="text-center">OUR ACTIVITIES</h2>
    <p class="text-center pb-4">OUR BEST SERVICES FOR YOUR KIDS</p>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <img src="https://mountbasil.com/assets/img/activity.jpg" alt="" class="img-fluid  pt-4">
        </div>

        <div class="col-sm-5 ms-2">
            <h3 class="pb-2 pt-2">Activity-Based Learning:</h3>
            <p class="mb-3">At MOUNT BASIL HIGH SCHOOL, we train students through a range of activities so that they grasp concepts by applying them in practice. Every subject is taught innovatively with a strong emphasis on demonstration of concepts and hands-on application in creative contexts like competitions, quizzes and plays.</p>
        
            <h3 class="pb-2">ALL-ROUND DEVELOPMENT</h3>

           <p><strong> Student Leadership Development : </strong> MOUNT BASIL HIGH SCHOOL has students council which is actively involved in areas of students concern. Students are presented with opportunities to develop their leadership skills and self-discipline and learn how to teamwork with other students and faculty.</p>

           
        </div>
    </div>

    <p class="ms-4 pt-3 pb-3"><strong> Global Citizenship : </strong> AT MOUNT BASIL HIGH SCHOOL, we ensure that students will be ready to become global citizens. Its activity based learning and self-development approach ensures that they get a similar competitive advantage in skills.</p>

    <p class="ms-4 pt-1 pb-3"><strong> Right values : </strong> MOUNT BASIL HIGH SCHOOL nurtures an ethos of compassion, tolerance, diversity, self-esteem and a sense of belonging and leadership, besides academic excellence. This ensures that students grow up into bright, confident adults and morally responsible citizens.</p>

    <div class="row  pt-5 ms-2 pt-3">
        <div class="col-sm-6">
            <h2 class="pb-3">Academic Curriculum</h2>
            <p>In comparison with other curriculum, the Central Board of Secondary Education (CBSE) Curriculum is relatively more expansive and broad in terms of its approach, with a strong emphasis on the overall development of the child, rather than focusing solely on knowledge gathering sessions and examinations. Our singular aim is to develop an extensive knowledge base and stimulate children’s critical thinking skills.</p>
            
            <p class="pt-3"><strong> Primary School </strong>: Primary school at MOUNT BASIL HIGH SCHOOL is an active and an academically thriving section. At this level, we are committed to grooming each child to be a leader, an independent thinker and a team player. We place great emphasis on developing the breadth and balance of academics where our students thrive on outside-the-classroom challenges. Our aim is to establish a strong foundation in each child for a future education by blending the traditional 3R (Reading, Writing & Arithmetic) with 4C stalls, which are required for success in the 21st Century. <br>
            
            1. Critical thinking and problem solving <br>
                2. Communication <br>
                3. Creativity <br>
                4. Collaboration </p>

        </div>
        <div class="col-sm-5">
            <img src="https://mountbasil.com/assets/img/course3.jpg" alt="" class="img-fluid" >
        </div>
    </div>

    <p class="ms-2 mt-2">We do this by adopting the modern methods of teaching like use of LCD, Audio – visual, story – method, exploration and Research, group discussion (Debate) Sports, music, art, Quiz, plays & a set of other outdoor pursuits to make learning effective and an enjoyable experience.</p>    
            
    <p class="mt-5 ms-2"><strong> CBSE-Middle School </strong>: The middle school provides a framework of learning that encourages students to become creative, critical and reflective thinkers. This curriculum emphasizes intellectual challenge, encouraging students to make connections between their studies in traditional subjects and the real world. It fosters the development of skills for communication, intercultural understanding and global engagement- essential qualities for young people who wish to become global leaders.</p>

    <p class="mt-5 ms-2"><strong> Senior School </strong>: The senior school promotes the platform to acquire the following: <br>
        1. Innovations in teaching-learning methodologies by devising students friendly and students centred paradigms. <br>
        2. Strengthens the students’ evolution by using their best evaluation practices. <br>
        3. Promotes skill learning by adding pragmatic approaches of learning. <br>
        4. Provides the required opportunities to update the students skill set to meet the rapidly changing global trends. <br>
        5. Face competitive exams at national level such as NTSE, NLSTSE, KVPY, INO, IMO, SOF, ARYABHATTA, NBO etc.</p>
</div>
</div>
