<footer class=" border-1 border-dark mt-5 p-3  bg-dark">

    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <img src="https://mountbasil.com/assets/img/logor.png" alt="" class="mt-2" width="50%">
            <p class="text-white">The most successful management with 10 years of experience,giving an excellent education to Mahabubnagar.</p>
            <div class="container p-1 mb-3 ">
                <!-- Section: Social media -->
                <section class="mb-2 ">
                  <!-- Facebook -->
                  <!-- Twitter -->
                  <a class="btn btn-outline-light btn-floating m-1 bg-white" href="#!" role="button"
                    ><i class="fab fa-twitter text-dark"></i
                  ></a>
            
                  <!-- Google -->
                  <a class="btn btn-outline-light btn-floating m-1 bg-white" href="#!" role="button"
                    ><i class="fab fa-google text-dark"></i
                  ></a>
            
                  <!-- Instagram -->
                  <a class="btn btn-outline-light btn-floating m-1 bg-white" href="#!" role="button"
                    ><i class="fab fa-instagram text-dark"></i
                  ></a>
            
                  <!-- Linkedin -->
                  <a class="btn btn-outline-light btn-floating m-1 bg-white" href="#!" role="button"
                    ><i class="fab fa-linkedin-in text-dark"></i
                  ></a>
            
                </section>
                <!-- Section: Social media -->
              </div>
        </div>

        <div class="col-sm-2 text-white">
            <p>Useful Links</p>
            <div>
            <!-- <a  style="text-decoration: none;" class="text-white d-block pt-2 bg-dark" (click)="onclickActivties()" routerLink="activities"><i class="fas fa-chevron-right"></i> Activities</a>
            <a  style="text-decoration: none;" class="text-white d-block pt-2"  routerLink="activities"><i class="fas fa-chevron-right"></i> Events</a>
            <a  style="text-decoration: none;" class="text-white d-block pt-2" (click)="onclickcontact()" routerLink="contactUs"><i class="fas fa-chevron-right"></i> Contact us</a>
            <a  style="text-decoration: none;" class="text-white d-block pt-2" (click)="onclickcontact()" routerLink="contactUs"><i class="fas fa-chevron-right"></i> Google Maps</a>
            <a  style="text-decoration: none;" class="text-white d-block pt-2"  routerLink="activities"><i class="fas fa-chevron-right"></i> Terms and Conditions</a> -->
              <ul>
                <li>Activities</li>
                <li>Events</li>
                <li>Contact us</li>
                <li>Google Maps</li>
                <li>Terms and Conditions</li>
              </ul>
          
          
          </div>
        </div>

        <div class="col-sm-3 text-white">
            <p>Address</p>
            <p>Mount Basil High School, <br> H. No. 7-13, Malleboinpally, Jadcherla,Mahabubnagar.509301 <br> +91 9951511821, +91 6300042124 </p>
            <p>mountbasilschool@gmail.com</p>
        </div>

        <div class="col-sm-3 text-white">
            <p>Google Maps</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d489183.0146445895!2d77.8235481!3d16.6897741!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bca2feddbc4f8a7%3A0x2207661571406be7!2sMount+Basil+School!5e0!3m2!1sen!2sin!4v1524031270064" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </div>
</footer>
