<div class="kk">
    <div class="container-fluid pt-5 pb-2" style="background: rgb(110, 155, 104);
    background: linear-gradient(90deg, rgb(90, 153, 84) 0%, rgba(84,166,83,1) 0%, rgb(92, 153, 112) 100%);">
    <h5 class="text-center mt-5 text-white">Rules & Regulations</h5>
    <p class="text-center text-white"> home / Rules & Regulations </p>
    </div>

    <div class="container mt-5" style="background: rgb(223,229,222);
    background: linear-gradient(90deg, rgba(223,229,222,1) 0%, rgba(220,230,220,1) 0%, rgba(241,255,246,1) 100%);">
    <h2 class="text-center pt-5 ">Rules & Regulations</h2>
    <p class="text-center pt-1 pb-5">OUR BEST SERVICES FOR YOUR KIDS</p>

    <div class="row ms-2 ">
        <div class="col-sm-5">
                <p> ->  Parents Are Requested To Cooperate With The School At All Times In Matters Of Conduct And Discipline Of The Students.</p>
                <p> ->  The Name, Class & Section Of All The Students Should Be Clearly Marked On All His / Her Belongings.</p> 
                <p> ->  Parents/Guardians Of All The Students Should Contact The Teachers On The PTM Days To Note The Progress Of Their Words.</p> 
                <p> ->  The School Is Not Responsible For Goods Lost. It Is Advised Not To Bring Valuable Articles To The School.</p>
                <p> ->  Regular Attendance Is To Be Maintained Of A Student Is Absent Due To Medical Or Any Other Reason, It Must Be Mentioned In The Leave Record Given In The Diary Or A Letter Should Be Submitted To The Authority Stating The Reason By The Parent.</p>
                <p> ->  Latecomers, Students With Improper Uniform And Those Who Don’t Do Their Homework Regularly Will Be Penalized.</p>
                <p> ->  Lending / Borrowing Only Or Other Articles Is Strictly Prohibited. No Buying And Selling Of Goods Is Permitted Among The Students.</p>
                <p> ->  Use Of Abusive Language Is Strictly Prohibited On Campus. Students Found Guilty Of Such Usage Will Be Dealt Seriously.</p>
                
                
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">
            <p> -> A Student Who Uses Unfair Means During A Test Will Be Given No Marks In The Subject And A Warning Letter Will Be Issued To This Effect. Repetition Of The Same Will Result In Dismissal.</p>
            <p> -> Students Using The School Bus Should Maintain Discipline In The Bus..</p>
            <p> -> School Property Should Be Taken Care Of No Student Should Damage The School Furniture. No One Is Permitted To Write As Draw Anything On The Walls. Incase Of Any Damage It Should Be Reported At Once To The Class Teacher. The Damage Should Be Compensated By The Students Concerned.</p>
            <p> -> Students Who Come To School On Their Own Should Arrive Before The Bell Rings. The Bell Is A Signal For All To Go To The Assembly. This Should Be Done Promptly And In Silence</p>
            <p> -> Students Should Assemble For Prayer After The Prayer They Should Disperse To Their Respective Classrooms In Silence.</p>
            <p> ->  Changing Of Classrooms Between Periods Should Be Done In An Orderly Manner And Should Not Cause Any Inconvenience To Other Classes. </p>
            
        </div>
    </div>

    </div>

</div>
