<div >

    <div class="container-fluid pt-5 pb-2" style="background: rgb(110, 155, 104);
    background: linear-gradient(90deg, rgb(90, 153, 84) 0%, rgba(84,166,83,1) 0%, rgb(92, 153, 112) 100%);">
    <h5 class="text-center mt-5 text-white">Contact Us</h5>
    <p class="text-center text-white"> home / Contact Us  </p>
        </div>
    

    <div class="row container mt-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-3 text-center">
            <h5><a class="btn btn-outline-light btn-floating m-1 bg-danger " href="#!" role="button">
                <i class="fas fa-map-marker-alt display-6 p-1"></i>

            </a></h5>

            <p><strong>Address</strong></p>

            <p class="pb-4">Mount Basil School,<br>
                H. No. 7-13, Malleboinpally,<br>
                Jadcherla,Mahabubnagar.509301
            </p > 
            
            <h5><a class="btn btn-outline-light btn-floating m-1 bg-success " href="#!" role="button">
                <i class="fas fa-phone-square display-6 p-1"></i>
            </a></h5>

            <p class="pb-4">+91 9951511821,<br>
                +91 6300042124</p>

                <h5><a class="btn btn-outline-light btn-floating m-1 bg-secondary " href="#!" role="button">
                    <i class="fas fa-envelope-square display-6 p-1"></i>
    
                </a></h5>

                <p><strong>Support</strong></p>

                <p>Mountbasilschool@Gmail.Com</p>


        </div>

        <div class="col-sm-1"></div>
        <div class="col-sm-6" >
            <p class="lead text-center display-6">Contact Form</p>

            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Enter Your Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
                <input type="number" class="form-control" id="exampleFormControlInput1">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Write Your Message Here</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
              </div>

              <button class="btn btn-success">Submit</button>

        </div>
        
        


        
    </div>

    <div class="container-fluid mt-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d489183.0146445895!2d77.8235481!3d16.6897741!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bca2feddbc4f8a7%3A0x2207661571406be7!2sMount+Basil+School!5e0!3m2!1sen!2sin!4v1524031270064" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>

</div>
