<div class="kk">
    
    <div class="container-fluid pt-5 pb-2" style="background: rgb(110, 155, 104);
    background: linear-gradient(90deg, rgb(90, 153, 84) 0%, rgba(84,166,83,1) 0%, rgb(92, 153, 112) 100%);">
    <h5 class="text-center mt-5 text-white">About</h5>
    <p class="text-center text-white"> home / About </p>
        </div>

<div class="container mt-5">


    <div class="container">
        <div class="row mb-3 ms-2">
            
            <div class="col-sm-5">
                <img src="https://mountbasil.com/assets/img/aboutus.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-sm-6 p-3 ">
                <h3 class="pb-2">Education Is The Process Of Facilitating Learning</h3>
                
                <p>The establishment of Mount Basil High School, Jadcherla saw the light of the day in 2016 with a resilient dictum that education is to be imparted in a holistic fashion. Mount Basil High School which is run under the aegis of Victory Educational Society has been the impetus for the accomplishments of our progenies. The holistic approach employed in MOUNT BASIL HIGH SCHOOL, propels our posterities stand the test of time. We strive to kindle the outlook in its stakeholders to embrace the change and brace for future challenges. In this sophisticated era where scholastic excellence draws the attention, we ensure that our children grow up to be the embodiment of all the required qualities to explore new horizons.</p>
                
                <p><strong> MOUNT BASIL HIGH SCHOOL </strong> which is situated in its sprawling 5.5 acres lush green campus with floral plants, colossal playground is sight to behold. This is the fourth off spring of victory educational society. In a span of few years, MOUNT BASIL HIGH SCHOOL, Jadcherla under the visionary leadership of the eminent management has witnessed noteworthy change in its stature.</p>
            </div>
        </div>

        <div class="p-3">
            <h5> Our Vision : </h5> <p> We are an institution of wholesome education excellence, imparting values and leading our students to build strong character and intellectual competence, to emerge torch bearers in all walks of life on global stage.</p>
    
        <h5> Our Mission : </h5> <p>To achieve our vision, we will prepare our students to become independent learners with the desire, the skills and the abilities necessary for lifelong learning. This will require creating a learning environment which is centred around students, directed by teacher.</p>
    
        <h5> Philosophy : </h5> <p> Our philosophy is based on “The Whole Child” concept, which is a framework for the development of four key areas that are essential for shaping a balanced and all-rounded personality. Our holistic system of learning sets quality benchmarks that prepare our students for success in the volatile modern world.</p>
        
    </div>

    <h2 class="text-center mt-4 pt-2 pb-2">Our Management</h2>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 text-center">The school has been established by Victory Educational Society and has on its school management committee luminaries from the field of education, Social work, Scientific research and technology as below.</div>
        <div class="col-sm-3"></div>
    </div>

    </div>

    <div class="row container">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 p-2">

                <div class="col">
                <div class="card m-2 mb-3" id="trcc">
                    
                    <img src="../../assets/chandrakala.jpeg" alt="" class="img-fluid"  >
        
                    <div class="card-body">

                        <p>Mrs. Chandrakala Garu</p>
                        <p class="text-center">[Chairperson]</p>
                      
                        
                    </div>
                  </div>
                </div>
        
                <div class="col">
                    <div class="card mb-3 m-2" id="trcc">
                        
                        <img src="../../assets/sireesha.jpeg" alt="" class="img-fluid">
            
                        <div class="card-body">
                          <p>Mrs. Shireesha Garu</p>
                          <p class="text-center">[Vice - President]</p>
                            
                        </div>
                      </div>
                    </div>
        
                    <div class="col">
                        <div class="card mb-3 m-2" id="trcc">
                            
                            <img src="../../assets/poojitha.jpeg" alt="" class="img-fluid">
                
                            <div class="card-body">
                              <p>Mrs. Prashanthi Garu</p>
                              <p class="text-center">[Treasurer]</p>
                                
                            </div>
                          </div>
                        </div>


                        <div class="col">
                            <div class="card m-2 mb-3" id="trcc">
                                
                                <img src="../../assets/principal.jpeg" alt="" class="img-fluid"  >
                    
                                <div class="card-body">
            
                                    <p>Mrs. Indumathy</p>
                                    <p class="text-center">[ Principal ]</p>
                                  
                                    
                                </div>
                              </div>
                            </div>
        
                </div> 
        
        </div>
    </div>

    <div style="background: rgb(223,229,222);
    background: linear-gradient(90deg, rgba(223,229,222,1) 0%, rgba(220,230,220,1) 0%, rgba(241,255,246,1) 100%);">
    <h2 class="text-center pt-5 pb-5">OUR FACILITIES</h2>

    <div class="row ms-2 ">
        <div class="col-sm-6">
            <p class=""> <strong>-></strong> School On A Vision A Mission. 
                <p> -> 5.5 Acres Of Lush Green Pollution Free Campus.</p> 
                <p> -> Special Orientation Programs From Campus. </p> 
                <p> -> World Class Infrastructure And Facilities. </p>
                <p> -> Special Classes For Maths And Science. </p>
                <p> -> Communication Skills Through English Lab. </p>
                <p> -> Linguistic & Verbal Skills Through Lingua Lab.</p>
                <p> -> Highly Effective And Research Based School System.</p>
                <p> -> A Sprawling Campus With Well Ventilated Spacious Classrooms And Associated Rooms.
                </p>
                <p> -> CCTV Surveillance Throughout The Campus. </p>
                <p> -> State Of The Art Computing And Technology Department.</p>
                <p> -> Well Equipped Library With Huge Collection Of Books.</p>
                <p> -> Professionally Qualified And Trained Special Teachers And Counsellors.</p>
                <p> ->  Science/Art Fair Expos</p>
        </div>
        <div class="col-sm-6">
            <p> -> Extensive Play Field For Cricket Basketball,Batminton,Skating,Soccer,Table-Tennis,Volleyball.</p>
            <p> -> Calligraphy,Chess, Karate,Classical And Western Dance Coaching.</p>
            <p> -> Science Laboratories-Physics Lab, Chemistry Lab, Biology Lab.</p>
            <p> -> Highly Sophisticated Computer Lab For Technology Based Learning.</p>
            <p> -> Preparatory Programs Towards Competitive Examinations.</p>
            <p> -> Educational Tours / Field Trips With Itinerary. </p>
            <p> -> Smart Classrooms And Audio Visulal Theatre.</p>
            <p> -> NLP And Personality Development Programs.</p>
            <p> -> Special Care For Slow Learners.</p>
            <p> -> Career Counselling.</p>
            <p> -> Student Daily Reports</p>
            <p> -> Bus Facility For Safer Transportation.</p>
            <p> -> Separate Hostels For Boys And Girls.</p>
        </div>
    </div>

    </div>
   

     
</div>
</div>
