<div class="kk">
    <div class="container-fluid pt-5 pb-2" style="background: rgb(110, 155, 104);
    background: linear-gradient(90deg, rgb(90, 153, 84) 0%, rgba(84,166,83,1) 0%, rgb(92, 153, 112) 100%);">
    <h5 class="text-center mt-5 text-white">Clubs</h5>
    <p class="text-center text-white"> home / Clubs </p>
        </div>

    <div class="container">
        <h2 class="text-center pt-4">OUR CLUBS</h2>
        <p class="text-center pb-4">OUR BEST SERVICES FOR YOUR KIDS</p>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <img src="https://mountbasil.com/assets/img/event-single.jpg" alt="" class="img-fluid pt-2">
            </div>
            <div class="col-sm-5 ms-2 ">
                 <p class="pb-3">MOUNT BASIL HIGH SCHOOL strongly believes in providing ample opportunities for our students to nurture their innate potential and channel their abundant energy in developing skills essential for success in a competitive world. Keeping this philosophy in mind, we offer a range of after school club for students to choose from.</p>

                 <p><strong> Literary Club </strong>: This club trains children in elocution, speech and drama, aims to help students engage in elocution activities, expand their abilities in Public speaking, and overcome stage consciousness. The focus of this program is on Language Development and creativity. The activities go beyond a one-time performance” targeted at an audience’, the curriculum has been carefully planned sequences of drama, games, role-plays, mime, speeches, and diction exercises through projects on storytelling, news reading, word games and interviews. This course gives the students the unique opportunity to participate in various events within the premises and outside competitions.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <p class="pt-3"><strong>Drama Club </strong>: Drama Club aims to foster an appreciation of theatre arts, basic techniques of voice & body for an actor improvisational skills, teamwork and lateral thinking in the students. The club activities incorporate theatre games & Exercises, which stress the skills of interaction & coordination. They cover aspects of confidence building, team spirit & overall character developments through improvisation, storytelling, reading & writing exercises, vocabulary building exercises and lateral thinking games. The club also aims to empower the imagination , bolster confidence, improve self-esteem through self-discipline, enhance social skills, value teamwork, and encourage the appreciation of language.</p>
        
        <p class="pt-4"><strong> Science Club </strong>: Science club works to promote scientific temper in young minds and provide a platform for them to express and correlate ideas for innovative creation. This special club conducted by science department. Some of the activities that will be included are quizzes, elocution, model making, documentary making, paper presentations, science journalism, awareness campaigns, field trips and nature walks, and book reviews. The club activities also set aside time to provide coaching for the science Olympiad.</p>
        
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <p class="pt-4"><strong> Maths Club </strong>: Maths Club encourages a positive attitude towards mathematics and stimulates mathematical curiosity. It promotes cross-curricular thinking and the holistic development of pupils. Students study maths beyond the classroom and allow pupils to see maths as an integral part of their times. It develops a healthy interest in mathematics as a source of interest achievement and inspire thinking, challenge and collaboration. Activities that promote dialogue, debate, and discussion can heavily influence children’s maths vocabulary, their maths register and their listening skills, They also help normalise ‘mistake making’ and can building math confidence.</p>
            
                <p class="pt-2"> <strong> Eco Club </strong>: The club encourages students to identify, learn about and adopt sustainable practices that help conserve the environment. The club also provides a platform for students to take considered action through awareness campaigns, movements and drives that aim to sensitize the local community about the need to go green.</p>
            </div>
            <div class="col-sm-5">
                <img src="https://mountbasil.com/assets/img/club.jpg" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <p class="pt-2"><strong>Heritage Club</strong>: The club intends to make its presence felt through activities like skits, occasions like Republic Day, Independence Day and many more highlighting the national and religious traditions of India. Special assemblies are organised on the birthdays of great leaders and to make students aware about their local heritage. The club organises various excursions to enriching field trips that contribute to the development of students into civilized young men and women who possess more knowledge about art, have stronger critical-thinking-skills, exhibit increased historical empathy, display higher levels of tolerance, and have a greater taste for consuming art & culture.</p>
                
                <p class="pt-4"><strong> Creative Writing club </strong>: Creative writing club helps students develop their writing skills, imaginations and creative voices by introducing the concept of character sketches and acrostic poems. The club also prepares students to participate in various story writing competitions.</p>
            </div>
        
        </div>

    </div>    
</div>
