<div class="row">
    <div class="col-sm-10 col-md-7 col-lg-5 mx-auto mt-3 p-3 ">
        <h4 class="mb-4 text-center border-3 border-bottom p-2 border-muted">Admin Login</h4>
        <form class="form ">
            <div>
            <label for="un" class="form-label mt-1">User name</label>
            <input type="text" id="un" name="username" class="form-control" >
            </div>
            <div>
                <label for="num" class="form-label mt-1">Password</label>
                <input type="text" id="num" name="phone" class="form-control" >
            </div> 


            <button class="btn btn-success d-block mx-auto mt-3"> login </button>
        </form>
    </div>

</div>
