<div class="container">

    <h2 class="text-center pt-5 pb-5">Our Gallery</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 ">

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/2.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/3.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/4.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/6.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/7.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/8.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/9.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/10.jpeg" alt="">
            </div>
        </div>


        <div class="col">
            <div class="card m-2">
                <img src="../../assets/11.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/12.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/13.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/14.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/16.jpeg" alt="">
            </div>
        </div>

        

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/18.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/newtwo.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/newone.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/20.jpeg" alt="">
            </div>
        </div>

        <div class="col">
            <div class="card m-2">
                <img src="../../assets/21.jpeg" alt="">
            </div>
        </div>


        <div class="col">
            <div class="card m-2">
                <img src="../../assets/22.jpeg" alt="">
            </div>
        </div>


        <div class="col">
            <div class="card m-2">
                <img src="../../assets/23.jpeg" alt="">
            </div>
        </div>



    </div>
</div>
