<div class="kk">
    <div class="container-fluid pt-5 pb-2" style="background: rgb(110, 155, 104);
    background: linear-gradient(90deg, rgb(90, 153, 84) 0%, rgba(84,166,83,1) 0%, rgb(92, 153, 112) 100%);">
    <h5 class="text-center mt-5 text-white">INFRASTRUCTURE</h5>
    <p class="text-center text-white"> home / INFRASTRUCTURE </p>
        </div>

        <div class="container">
            <h2 class="text-center pt-4">OUR INFRASTRUCTURE</h2>
            <p class="text-center pb-4">OUR BEST SERVICES FOR YOUR KIDS</p>

            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <img src="https://mountbasil.com/assets/img/slider-11112.jpg" alt="" class="img-fluid">

                </div>

                <div class="col-sm-5">
                    <p>MOUNT BASIL HIGH SCHOOL – Is located on a 5.5 acres, eco – friendly campus. We are closer than you think! We are just kilometres away from Jadcherla and 10 kilometres away from Mahabubnagar.</p>
                
                    <p class="pt-3"><strong> Classrooms </strong>: A sprawling campus with well ventilated spacious classrooms associated rooms. Smart classrooms with Audio Visual Theatre.</p>

                    <p class="pt-3"><strong> Library </strong> : A well resourced and exhaustive school library is the highlight of MOUNT BASIL HIGH SCHOOL infrastructure, where our children get to explore different books. The library serves students, and faculty with its vast collection of print and digital content.</p>
                
                </div>
            </div>

            <h2 class="pb-2">(Sports Facilities) Health & Physical Education</h2>

            <p>Sports is an integral part of our campus life to ensure good physical growth and development of the students. The program focuses on teaching the young impressionable minds values of discipline, sportsmanship, teamwork and there by prepares them to face the challenges and failures positively. These sports activities are taught to our children under the guidance of professional trainers and coaches through a structured and progressive sports program with supporting infrastructure. <br>
                -5.5 acres campus with volleyball courts, Kho-kho court, Basketball, court, Kabaddi court, Cricket ground etc. <br>
                -Table tennis, Karate & Yoga
            </p>


            <div class="row">
                <h2 class="pb-3 pt-4">Activity Rooms & Labs</h2>
                <div class="col-sm-5">
                    <p class="pb-2"><strong>Art & Craft Room </strong>: For learning techniques of drawing & painting.</p>

                    <p class="pb-2"><strong>Dance room  </strong>: For Indian classical dances and western dance to focus on rhythm and movement.</p>
                
                    <p class="pb-2"><strong>A.V Hall</strong>: For inter house competitions and workshops.</p>

                    <p class="pb-2"><strong>Music room </strong>:where children learn to play musical instruments and sing various songs.</p>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <img src="https://mountbasil.com/assets/img/activity.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <p class="pt-5"><strong> Computer Lab </strong>: Information & communication Technology (ICT) is an integral part of MOUNT BASIL HIGH SCHOOL curriculum. In this computer Technology, an early exposure to the basics of computer, readies the child for the future and also helps the child to overcome any inhibitions they might have towards computer usage. <br>
                The school has a policy of one computer per child and the computer lab is adequately equipped for the computer lab is adequately equipped for the same. Internet connectivity is provided to the students, teachers and staff in the adjacent internet lab. Teachers assist children in seeking out information, creating multimedia content, collaborating on project work and presenting the knowledge gathered from multiple sources.</p>
        
            <p class="pt-3"><strong> English Lab </strong>: KaradiPath (Magic English)It has a tradition of helping learners to improve their English and facilitates classroom engagement & interaction via computer based exercises & activities to language immersion. Though the magic English (KaradiPaths) students get benefited is the following ways :</p>
            
        <div class="row">
            <div class="col-sm-6">
                <p>- Enhancement of spoken English skills. <br>
                    - Practicing English using everyday scenarios. <br>
                    - Acquisition of vocabulary though integrated learning. <br>
                    - Pronunciation practice using phonetics. <br>
                    - Gradual up gradation of English language skills through a structured program. <br>
                    - Enhancement of functional English and functional grammar. <br>
                    - Extensive listening & Speaking practice <br>
                    - Strategic Content – in a rich audio – visual format. <br>
                    - Fun filled method of lesson delivery. <br>
                    - Learn through music, Story telling <br>
                    - Poem recitation <br>
                    - Caters to the needs of students widely.</p>
            </div>

            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <img src="https://mountbasil.com/assets/img/eng.jpg" alt="" class="img-fluid" width="60%">
            </div>
        </div>

        <p class="pb-3 pt-3"> <strong> Maths Lab </strong>: In line with the philosophy of experiential learning, MOUNT BASIL HIGH SCHOOL provides a well equipped mathematics lab to enhance the understanding of the subject by practical means.</p>
        
        <p class="pb-3"><strong> Science lab </strong>: The school has well – designed separate science labs for physics, Chemistry and Biology labs, which are fully equipped as per the guidelines laid by CBSE.</p>
        
        <p class="pb-3"><strong> Infirmary </strong>: The school has an infirmary for sick students managed round the clock by a trained nurse. We are associated with S.V.S hospital for regular and emergency medical services.</p>
        
        <p class="pb-3"><strong> Transportation </strong>: Efficiently navigated bus routes ensure that children spend the least time commuting to school. Every bus is procured as per the guidelines of government of Telangana state Transport Department. Every bus is stacked with first aid kit and speed governor. Besides, a support staff accompanies the children in every trip. Assigned staff member is trained to address the contingency and ensure the safety and security of the children under his / her care.</p>
        

        <div class="row">
            <div class="col-sm-5">
                <img src="" alt="">
                </div>
                <div class="col-sm-1"></div>

                <div class="col-sm-5">
                    <h2 class="text-center pb-1">Semi – Residential School</h2>

                    <p class="pb-3"><strong> Dining </strong>: Mount Basil High School being Semi – Residential School, meals are an integral part of the school program. Children enjoy the nutritious and well balanced food served during the day.</p>

                    <p class="pb-3"><strong> Starting with Breakfast </strong>: Lunch is a sumptuous balanced meal. Evening snacks after the School. Mount Basil High School dining halls is demarcated and equipped as per age group. We have well – planned seating arrangement for boys and girls where caretakers and teachers keep a proper check on the children’s manner. The school is very particular about hygiene and children are made to wash their hands with soap before they get seated.  <br>
                        - An RO (Reverse Osmosis) plant has been installed to ensure quality drinking water. <br>
                        - The school food menu is designed by our dietician keeping in mind the needs of growing children. (Sound mind in a sound body). <br>
                    </p>
                </div>
            
        </div>
    </div> 


</div>
