<div class="kk">
    
    <div class="container-fluid pt-5 pb-2" style="background: rgb(110, 155, 104);
    background: linear-gradient(90deg, rgb(90, 153, 84) 0%, rgba(84,166,83,1) 0%, rgb(92, 153, 112) 100%);">
    <h5 class="text-center mt-5 text-white">Staff and infrastructure info</h5>
    <p class="text-center text-white"> home / Staff and infrastructure info </p>
        </div>


        <div class="container">
            

            <h3 class="pb-3 text-center pt-5">STAFF INFO </h3>
        
                <table class="table">
                    <thead>
                        <th scope="col">SL.No</th>
                        <th scope="col">INFORMATION</th>
                        <th scope="col">DETAILS</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>PRINCIPAL</td>
                            <td>K. INDUMATHY</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Total NO. OF TEACHERS <ul>
                                <li>PGT</li>
                                <li>TGT</li>
                                <li>PRT</li>
                                <li>OTHERS</li>
                            </ul>
                        </td>
                            <td>61 <br> 2 <br> 21 <br> 25 <br> 12 </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>TEACHERS SECTION RATIO</td>
                            <td>2 : 1</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>DETAILS OF SPECIAL EDUCATOR</td>
                            <td>E.PRAVEENA KUMARI C/O RAGHURAM REDDY. B.A, B.Ed(SE)</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>DETAILS OF CONSELLOR AND WELLNESS TEACHER</td>
                            <td>T.RAMA LINGAM S/O. T.YELLAPPA., M.Tech., B.Ed</td>
                        </tr>

                        


                    </tbody>

        </table>


        <h3 class="pb-3 pt-4 text-center">INFRASTRUCTURE INFO</h3>
        
                <table class="table">
                    <thead>
                        <th scope="col">SL.No</th>
                        <th scope="col">INFORMATION</th>
                        <th scope="col">DETAILS</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>TOTAL CAMPUS AREA OF THE SCHOOL IN SQUARE MTR</td>
                            <td> 18863</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>NO. AND SIZE OF THE CLASS ROOMS (IN SQFT.MTR)</td>
                            <td> 32 rooms with 1633.728 sq.mtr</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>NO. AND SIZE OF THE LABORATORIES INCLUDING COMPUTER LABS (IN SQFT.MTR)</td>
                            <td>4 rooms with 243 sq.mtr</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>INTERNET FACILITY</td>
                            <td>yes</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>NO. OF GIRLS TOILET</td>
                            <td>35</td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>NO. OF BOYS TOILET</td>
                            <td>35</td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td>LINK OF YOUTUBE VIDEO OF THE INSPECTION OF SCHOOL COVERING THE INFRASTRUCTURE OF THE SCHOOLS</td>
                            <td>https://youtu.be/nn2Jf1rO7Kk</td>
                        </tr>

                        


                    </tbody>

        </table>


        