<div >
<nav class="navbar navbar-expand-lg navbar-light bg-white container-fluid me-auto ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="https://mountbasil.com/assets/img/logo3.png" alt="" width="235px"></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active"><strong> Home </strong></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <strong> Mandatory Public disclosure </strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="generalInfo" routerLinkActive="active" >General Information</a></li>
            <li><a class="dropdown-item" routerLink="docsAndInfo" routerLinkActive="active" >Documents and Information</a></li>
            <li><a class="dropdown-item" routerLink="ResultsAndAcademics" routerLinkActive="active">Results and Academics</a></li>
            <li><a class="dropdown-item" routerLink="StaffAndInfra" routerLinkActive="active">Staff and infrastructure</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="aboutus" routerLinkActive="active"><strong> About us </strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="activities" routerLinkActive="active"><strong> Activities </strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallery" routerLinkActive="active" ><strong> Gallery </strong></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <strong> Others </strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="clubs" routerLinkActive="active" >Clubs</a></li>
            <li><a class="dropdown-item" routerLink="rules" routerLinkActive="active" >Rules</a></li>
            <li><a class="dropdown-item" routerLink="infrastructure" routerLinkActive="active">Infrastructure</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="contactUs" routerLinkActive="active" ><strong> Contact Us </strong></a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active" ><strong> login </strong></a>
        </li> -->

          

      </ul>
       
    </div>
  </div>
</nav>



</div>



<div class="container-fluid">
  <router-outlet></router-outlet>
  </div>


  <app-footer class="mt-auto"></app-footer>

