<div class="kk">
    
    <div class="container-fluid pt-5 pb-2" style="background: rgb(110, 155, 104);
    background: linear-gradient(90deg, rgb(90, 153, 84) 0%, rgba(84,166,83,1) 0%, rgb(92, 153, 112) 100%);">
    <h5 class="text-center mt-5 text-white">DOCUMENTS AND INFORMATION</h5>
    <p class="text-center text-white"> home / DOCUMENTS AND INFORMATION </p>
        </div>


        <div class="container">
            <h2 class="text-center pt-3 pb-4">DOCUMENTS AND INFORMATION</h2>
        
                <table class="table">
                    <thead>
                        <th>SL.No</th>
                        <th>DOCUMENTS / INFORMATION</th>
                        <th>UPLOAD DOCUMENTS</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>COPIES OF AFFILIATION / UPGRADATION LETTER AND RECENT EXTENSION OF AFFILIATION ,IF ANY</td>
                            <td> <a routerLink="mainUpgrade" (click)="onclickupgrade()"> view file </a></td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>COPIES OF SOCITIES / TRUST / COMPANY REGISTRATION /RENEWAL CERTIFICATE AS APPICABLE</td>
                            <td> <a routerLink="renewalCertificate" (click)="onclickrenewal()"> view file </a></td>
                        </tr>


                        <tr>
                            <td>3</td>
                            <td>COPY OF NO OBJECTION CERTIFICATE (NOC) ISSUED ,IF APPICABLE , BY THE STATE GOVT/UT</td>
                            <td><a routerLink="nocCertificate" (click)="onclicknocCert()"> view file </a></td>
                        </tr>


                        <tr>
                            <td>4</td>
                            <td>COPIES OF RECOGNITION CERTIFICATE UNDER RTE ACT ,2009 , AND ITS RENEWAL IF APPICABLE</td>
                            <td><a routerLink="recCertificate" (click)="onClickRecCertificate()"> view file </a></td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>COPY OF VALID BUILDING SAFETY CERTIFICATE AS PER THE NATIONAL BUILDING CODE</td>
                            <td><a routerLink="safetycertificate" (click)="onSafetyCertificate()" > view file </a></td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>COPY OF VALID FIRE SAFETY CERTIFICATE ISSUED BY THE COMPONENT AUTHORITY</td>
                            <td><a routerLink="fireSafety" (click)="onfireSafety()" > view file </a></td>
                        </tr>


                        <tr>
                            <td>7</td>
                            <td>COPY OF THE DEO CERTIFICATE SUBMITTED BY THE SCHOOL FOR AFFILIATION /UPGRADATION /EXTENSION OF AFFILIATION OR SELF CERTIFICATE BY SCHOOL</td>
                            <td><a routerLink="deoCertificate" (click)="onDeoCertificate()"> view file </a></td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td>COPIES OF VALID WATER HEALTH AND SANITATION  CERTIFICATE </td>
                            <td><a routerLink="WaterAndSanition" (click)="onclickwatersanitation()"> view file </a></td>
                        </tr>




                        

                        


                    </tbody>
                </table>
        
</div>


