<div class="container">

    <!-- <embed src="../../assets/Building Safety Certificate.pdf" type="application/pdf" width="100%" height="700px"> -->

        <object data="../../assets/5.BUILDING SAFETY CERTIFICATE WITH SIGNATURE.pdf" type="application/pdf" width="1200" height="1500">
            <p>Your web browser doesn't have a PDF plugin.
                Instead you can <a href="../../assets/5.BUILDING SAFETY CERTIFICATE WITH SIGNATURE.pdf">click here to
                download the PDF file.</a></p>
        </object>

    </div>

