<div class="kk">
    
    <div class="container-fluid pt-5 pb-2" style="background: rgb(110, 155, 104);
    background: linear-gradient(90deg, rgb(90, 153, 84) 0%, rgba(84,166,83,1) 0%, rgb(92, 153, 112) 100%);">
    <h5 class="text-center mt-5 text-white">General Information</h5>
    <p class="text-center text-white"> home / General Information </p>
        </div>


        <div class="container">
            <h2 class="text-center pt-3 pb-5">General Information</h2>

            
        
                <table class="table">
                    <thead>
                        <th scope="col">SL.No</th>
                        <th scope="col">INFORMATION</th>
                        <th scope="col">DETAILS</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>NAME OF THE SCHOOL</td>
                            <td>MOUNT BASIL HIGH SCHOOL</td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>AFFILIATION NO</td>
                            <td>3630267</td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>SCHOOL CODE</td>
                            <td>57782</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>COMPLETE ADDRESS</td>
                            <td>Mount Basil School,
                                H. No. 7-13, Malleboinpally,
                                Jadcherla,Mahabubnagar.509301</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>PRINCIPAL INFO</td>
                            <td>K.INDUMATHY, M.A,.M.A.,M.A., B.ED,M.B.A</td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>SCHOOL EMAIL ID</td>
                            <td>mountbasilschool@gmail.com</td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td>CONTACT DETAILS</td>
                            <td>9951511821, 7702644439</td>
                        </tr>


                    </tbody>

        </table>


        